.container {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}

.clock {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background-color: darkgray;
    margin: 0 auto;
    position: relative;
    z-index: -1;
}
.hand {
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 5px;
    width: 5px;

    transform-origin: 50% 0;
}
.hour {
    background-color: powderblue;
    height: 112px;
    z-index: 2;
}
.minute {
    background-color: white;
    height: 168px;
    z-index: 1;
}
.second {
    background-color: black;
    height: 220px;
    z-index: 0;
}

.text {
    width: 80px;
    height: 25px;
    text-align: end;
    position: fixed;
    display: none;

    background-color: white;
    border: 2px solid black;

    justify-content: center;
    text-align: center;
    z-index: 10;

    left: 0px;
    right: 0px;
}